#actionSuccess.modal.fade(role='dialog')
    .modal-dialog
        .modal-content
            .modal-body
                div.centered
                    h2(style='color: green') ✔
                    hr
                    h5 Action Success!