#actionFailed.modal.fade(role='dialog')
    .modal-dialog
        .modal-content
            .modal-body
                div.centered
                    img(src='assets/red-star.svg' alt='')
                    hr
                    h3 Something went wrong
                    p Please wait a sec and then try again

                    button.btn.btn-sm.button(type='button', data-dismiss='modal') Close