#reportModal.modal.fade(role='dialog')
    .modal-dialog
        .modal-content
            .modal-header
                button.close(type='button', data-dismiss='modal') ×
                h4.modal-title Report
            .modal-body
                div
                    h6(style='font-weight: bold;') What's Wrong with this Content?
                    hr
                    form.form-group
                        input.checkbox(type='radio' name="reportCondition" id="checkIC" onclick="dropText()")
                        | Inappropriate Content
                        br
                        br
                        input.checkbox(type='radio' name="reportCondition" id="checkIL" onclick="dropText()")
                        | Inappropriate Language
                        br
                        br
                        input.checkbox(type='radio' name="reportCondition" id="checkIR" onclick="dropText()")
                        | Not Relevant
                        br
                        br
                        input.checkbox(type='radio' name="reportCondition" id="checkOther" onclick="showText()")
                        | Other
                        br
                        br
                        textarea#txtOther.hidden



                    // var list = [" input (type = checkbox) Inappropriate Content", "Inappropriate Language", "Not relavent"]
                                            each item in list
                                            li= item

                                            br
                                            h6 (style='font-weight: bold;') Other...
                                            textarea.modal-plaintext
            .modal-footer
                button.btn.btn-sm.button(type='button', data-dismiss='modal', onclick='submitReport(this)') Submit
                button.btn.btn-sm.button(type='button', data-dismiss='modal') Cancel