extends page

block content
    .main-content
        .info-block
            .description
                br
                h1(style='font-weight : bold;').centered First Years
                hr

                a(href='https://drive.google.com/file/d/1nMPOiFPnRB-7jqFJ8Q6G-Q9EFL1oTkRs/view?usp=sharing') Discipline Guide!
                br
                a(href='https://sass.queensu.ca/self-care-and-mental-health-taking-care-of-you/') Mental Health Tips!
                br
                a(href='https://listingservice.housing.queensu.ca/index.php/rental/rentalsearch/action/results_list/') Housing!
                br
                a(href='http://my.engineering.queensu.ca/Current-Students/First-Year-Studies/CourseInformation.html') First Year Courses!
                br
                a(href='https://englinks.ca/') Tutoring and Exam Prep!
                br
                a(href='https://engsoc.queensu.ca') EngSoc!